.Title {
  font-weight: 630;
  font-size: 30px;
  font-family: Poppins, Helvetica, sans-serif;
}
.boxFind {
  text-align: center;
  height: 270px;
  margin-top: 25px;
}
.boxFind p {
  font-weight:500;
  font-size: 20px;
  text-align: center;
}
.boxFind .custom-ID {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.5%;
  gap: 15px;
  height: 30px;
  margin-left: 25px;
  margin-top: 20px;
}
.boxFind .custom-ID p {
  font-size: 15px;
}
.custom-ID .css-17nf42q {
  max-width: 200px;
  max-height: 30px;
  background-color: white;
}
/* .custom-ID .css-17nf42q input:focus {
  outline: none !important;
  box-shadow: none !important;
} */
.boxFind .custom-endDate p {
  font-size: 15px;
}
.boxFind .custom-startDate p {
  font-size: 15px;
}
.boxFind .custom-startDate {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-top: 10px;
  height: 30px;
  margin-left: 61px;
}
.boxFind .custom-startDate input {
  width: 198px;
  height: 30px;
  border: 1px solid gray;
  border-radius: 3px;
}
.boxFind .custom-endDate {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-top: 10px;
  height: 30px;
  margin-left: 51px;
}
.boxFind .custom-endDate input {
  width: 198px;
  height: 30px;
  border: 1px solid gray;
  border-radius: 3px;
}
.boxFind .custom-endDate input:hover {
  background-color: rgb(235, 235, 235);
  transition: 0.2s;
}
.boxFind .custom-startDate input:hover {
  background-color: rgb(235, 235, 235);
  transition: 0.2s;
}
.boxFind .custom-SoTien {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-top: 10px;
  height: 30px;
  margin-left: 214px;
}
.boxFind .custom-SoTien p {
  font-size: 15px;
}
.boxFind .custom-SoTien input {
  width: 199px !important;
  height: 30px !important;
  border: 1px solid gray;
  border-radius: 3px;
  padding: 8px 6px 8px 6px;
}
.boxFind .custom-SoTien input:hover {
  background-color: rgb(235, 235, 235);
  transition: 0.2s;
}
.boxFind .custom-icSearch {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  height: 40px;
}
.boxFind .custom-icSearch .icSearch {
  padding: 8px 8px 8px 8px !important;
  font-size: 40px;
  background-color: rgb(194, 194, 194);
  border-radius: 10px;
  border: none;
}
.boxFind .custom-icSearch .icSearch:hover {
  background-color: rgb(146, 146, 146);
  transition: 0.2s;
}

.listPX {
  margin-top: 20px;
}
table tbody tr td {
  text-align: center;
  border: 1px solid black;
  height: 30px;
}
table tbody tr:hover {
  background-color: silver !important;
  cursor: pointer;
}
table tbody tr td:hover {
  background-color: silver !important;
  cursor: pointer;
}
table thead tr {
  height: 50px; 
}
table thead tr th {
  border: 1px solid black;
  font-weight: 600;
}
