.container-account{
    text-align: center;
    width: 80%;
    margin: auto;
}
.container-account_content{
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    padding: 20px;
}
.container-account_content table{
    width: 100%;
    td{
        padding: 20px;
    }
    tr{
        transition: 0.2s;
    }
}
.container-account_content table tr:hover{
    background-color: rgba(0, 0, 0, 0.3);
}
.container-account_content table tr:first-child{
    color: rgba(0, 0, 0, 0.5);
}
.container-account_button{
    position: absolute;
    right: 0;
    bottom: -50px;
}
.add-user-account{
    margin-top: 50px;
    text-align: center;
}
.add-user-account_content{
    position: relative;
    width: 24%;
    text-align: right;
    margin: auto;
}
.add-user-account_content__content-items{
    margin: 10px;
}
.add-user-account_content__content-items input{
    padding: 5px;
}
.add-user-account_button{
    position: absolute;
    right: 10px;
}
.add-user-account_content .add-user-account_content__content-items:first-child input{
    margin-left: 10px;
}
.add-user-account_content .add-user-account_content__content-items:nth-child(2) input{
    margin-left: 10px;
}
.add-user-account_content .add-user-account_content__content-items:nth-child(3) input{
    margin-left: 10px;
}
.edit-user-account{
    margin-top: 70px;
    text-align: center;
}
.edit-user-account_content{
    position: relative;
    width: 24%;
    text-align: right;
    margin: auto;
}
.edit-user-account_content__content-items{
    margin: 10px;
}
.edit-user-account_content__content-items input{
    padding: 5px;
}
.edit-user-account_button{
    position: absolute;
    right: 10px;
}
.edit-user-account_content .edit-user-account_content__content-items:first-child input{
    margin-left: 10px;
}
.edit-user-account_content .edit-user-account_content__content-items:nth-child(2) input{
    margin-left: 10px;
}
.edit-user-account_content .edit-user-account_content__content-items:nth-child(3) input{
    margin-left: 10px;
}
