.container-account{
    text-align: center;
    width: 80%;
    margin: auto;
    h1{
        margin-bottom: 20px;
    }
}
.container-account_content{
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    padding: 20px;
    .edit{
        font-size: 19px;
        margin-right: 10px;
        cursor: pointer;
    }
    .delete{
        cursor: pointer;
    }
}
.container-account_content table{
    width: 100%;
    td{
        padding: 20px;
    }
    tr{
        transition: 0.2s;
    }
}
.container-account_content table tr:hover{
    background-color: rgba(0, 0, 0, 0.3);
}
.container-account_content table tr:first-child{
    color: rgba(0, 0, 0, 0.5);
}
.container-account_button{
    position: absolute;
    right: 0;
    bottom: -50px;
    button{
        padding: 10px 15px;
        background-color: black;
        color: white;
        border: none;
        outline: none;
        border-radius: 5px;
        cursor: pointer;
    }
}
.add-user-account{
    margin-top: 50px;
    text-align: center;
}
.add-user-account_content{
    position: relative;
    width: 40%;
    text-align: right;
    margin: auto;
}
.add-user-account_content__content-items{
    margin: 10px;
}
.add-user-account_content__content-items input{
    padding: 5px;
    margin-right: 120px;
}
.add-user-account_content__content-items select{
    padding: 5px;
    margin-right: 120px;
    width: 176px;
}
.add-user-account_button{
    position: absolute;
    right: 129px;
    button{
        padding: 10px 15px;
        background-color: black;
        color: white;
        border: none;
        outline: none;
        border-radius: 5px;
        cursor: pointer;
    }
    button:last-child{
        color: black;
        background-color: white;
        border: 1px solid rgba(0, 0, 0, 0.3);
        margin-left: 10px;
    }
    button:last-child:hover{
        background-color: rgba(0, 0, 0, 0.3);
    }
}
.add-user-account_content .add-user-account_content__content-items:first-child input{
    margin-left: 10px;
}
.add-user-account_content .add-user-account_content__content-items:nth-child(2) input{
    margin-left: 10px;
}
.add-user-account_content .add-user-account_content__content-items:nth-child(3) select{
    margin-left: 10px;
}
.edit-user-account{
    margin-top: 70px;
    text-align: center;
}
.edit-user-account_content{
    position: relative;
    width: 40%;
    text-align: right;
    margin: auto;
}
.edit-user-account_content__content-items{
    margin: 10px;
}
.edit-user-account_content__content-items input{
    padding: 5px;
    margin-right: 120px;
}
.edit-user-account_content__content-items select{
    padding: 5px;
    margin-right: 120px;
    width: 176px;
}
.edit-user-account_button{
    position: absolute;
    right: 129px;
    button{
        padding: 10px 15px;
        background-color: black;
        color: white;
        border: none;
        outline: none;
        border-radius: 5px;
        cursor: pointer;
    }
    button:last-child{
        color: black;
        background-color: white;
        border: 1px solid rgba(0, 0, 0, 0.3);
        margin-left: 10px;
    }
    button:last-child:hover{
        background-color: rgba(0, 0, 0, 0.3);
    }
}
.edit-user-account_content .edit-user-account_content__content-items:first-child input{
    margin-left: 10px;
}
.edit-user-account_content .edit-user-account_content__content-items:nth-child(2) input{
    margin-left: 10px;
}
.edit-user-account_content .edit-user-account_content__content-items:nth-child(3) select{
    margin-left: 10px;
}
