.manager-permission{
    position: relative;
    text-align: center;
    width: 80%;
    margin: auto;
}
h1{
    margin-bottom: 20px;
}
.manager-permission .manager-permission_content table{
    margin: auto;
    width: 100%;
    td{
        padding: 20px;
    }
}
.manager-permission .manager-permission_content table tr:first-child{
    color: rgba(0, 0, 0, 0.5);
}
.manager-permission_content{
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}
button{
    background-color: black;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
}
button:first-child{
    margin-right: 10px;
}
button:last-child{
    background-color: unset;
    color: black;
    border: 1px solid rgba(0, 0, 0, 0.3);
    transition: 0.2s;
}
button:last-child:hover{
    background-color: rgba(0, 0, 0, 0.1);
}
.manager-permission_button{
    position: absolute;
    right: 0;
    bottom: -50px;
}
.manager-permission_button button{
    margin-right: unset;
    color: white;
    background-color: black;
}
.manager-permission_button button:hover{
    background-color: black;
}
.edit, .delete, button{
    cursor: pointer;
}
.edit{
    margin-right: 20px;
    font-size: 18px;
}
.add-permission{
    width: 40%;
    margin: auto;
    margin-top: 50px;
    text-align: center;

    input{
        padding: 5px 5px;
        margin-right: 20px;
        margin-left: 5px;
    }
}
.add-permission_button{
    margin-top: 15px;
}
.edit-permission{
    margin: auto;
    width: 80%;
    text-align: center;
    margin-top: 50px;

}
.edit-permission_content__title input{
    margin-left: 5px;
    padding: 5px;
}
.edit-permission_content{
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    padding: 20px;
}
.edit-permission_content table{
    width: 100%;
    td{
        padding: 20px;
    }
}
.edit-permission_content table tr:first-child{
    color: rgba(0, 0, 0, 0.5);
}
.edit-permission_button{
    position: absolute;
    right: 0;
    bottom: -50px;
}
.add-function-permission{
    width: 40%;
    margin: auto;
    margin-top: 50px;
    text-align: center;

    input{
        padding: 5px 5px;
        margin-right: 20px;
        margin-left: 5px;
    }
}
.add-function-permission_button{
    margin-top: 15px;
}